---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main class="mt-3 xl:max-w-[1250px] 2xl:max-w-[1400px] w-full">
		<Header/>

	</main>
</Layout>

<style>
</style>
