---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import FirstSection from '../components/FirstSection.astro'
import SecondSection from '../components/SecondSection.astro';
---

<Layout title="Miguel de Cervantes Saavedra-Escuela de Idioma">
	<div class="mt-3 xl:max-w-[1250px] 2xl:max-w-[1400px] w-full">
		<Header/>
		<FirstSection />
	</div>
 <div class="bg-[--bg-200] w-full flex items-center justify-center">
	<div class="mt-3 xl:max-w-[1250px] 2xl:max-w-[1400px] w-full">
		<SecondSection/>
	</div>

 </div>
</Layout>

<style>
</style>
