<div class="text-[--text-100] text-3xl md:text-[2.2rem] flex flex-col items-center justify-center self-center mt-10">
  <span class="font-medium">
    Las próximas pruebas comienzan en:
  </span>
</div>