---
import Teacher from "../assets/Teacher.astro"

---
<section class="h-[700px] flex flex-col items-center justify-center md:flex-row md:gap-5 w-full p-5 bg-[--bg-100] mt-10" id="inicio">
  <Teacher/>
  <div class="flex items-center justify-center md:items-start flex-col text-center gap-4 md:order-1 md:text-left p-3 md:p-5 md:w-1/2 sm:p-4 ">
    <h1 class="text-5xl md:text-[3.8rem] lg:text-[4.5rem] font-bold text-balance text-[--text-100] xl:text-[5rem]"><span class="text-[--accent-200] ">Aprender</span> idiomas nunca fue tan <br/><span class="text-[--accent-200] tipado">ecónomico</span></h1>

  </div>
</section>
<script>
  import Typed from "typed.js"

  const tipado = new Typed ('.tipado',{
    strings: ['accesible', 'fácil'],
    typeSpeed:100,
    startDelay:1250,
    backSpeed:70
  })
</script>