<footer class="flex items-center justify-center w-full bg-[--bg-100] pt-2 lg:pt-4 ">
  <div class="mt-3 xl:max-w-[1250px] 2xl:max-w-[1400px] w-full  p-4 md:p-3 flex items-center justify-center border-t border-t-slate-600 border-opacity-25">
    <div class="w-full text-[--text-200] flex flex-col gap-2 text-center md:text-lg ">
      <span class="text-md md:text-lg">Hecho con ☕️ por Jaasiel Beltrán</span>
    </div>
  </div>
</footer>