<header class="flex items-center justify-between md:justify-center w-full border-b border-b-black border-opacity-10 md:p-5 px-3 py-2 bg-white sticky top-0 left-0 right-0 shadow-sm z-10 bg-opacity-80 backdrop-blur-sm">
  <nav class="hidden md:block w-full">
    <ul class=" font-medium text-md flex items-center justify-center gap-6 text-[--text-200]">
      <li class="cursor-pointer"><a href="#inicio">Inicio</a></li>
      <li class="cursor-pointer"><a href="#documentacion">Documentación</a></li>
      <li class="cursor-pointer"><a href="#convocatoria">Convocatoria</a></li>
      <li class="cursor-pointer"><a href="#idiomas">Info</a></li>
    </ul>
  </nav>
  <label class="btn md:hidden" for="nav-menu">
    hola
  </label>
</header>
<div class="md:hidden  flex justify-center w-auto">
  <input type="checkbox" id="nav-menu"  hidden/>
  <nav class="hidden flex-col items-center p-3 w-[300px] sm:w-[400px] bg-[--bg-100] h-full shadow-screen fixed left-[-100%] opacity-0 top-0 bottom-0 z-30 ">
    <label for="nav-menu" class="mt-20">Cierre</label>
    <ul class="w-full ml-4 p-2">
      <li class="cursor-pointer font-medium text-xl mb-2"><a href="#inicio">Inicio</label></li>
      <li class="cursor-pointer font-medium text-xl mb-2"><a href="#documentacion">Documentación</a></li>
      <li class="cursor-pointer font-medium text-xl mb-2"><a href="#convocatoria">Convocatoria</a></li>
      <li class="cursor-pointer font-medium text-xl mb-2"><a href="#idiomas">Info</a></li>
    </ul>
  </nav>
</div>


<style>
  .shadow-screen{
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
  }
  div input:checked ~nav{
    transition-property: left, opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    display: flex;
    left: 0;
    opacity: 1;
  }
</style>