---
import Idiomas from '../assets/Idiomas.astro'
---

<section class="lg:h-[700px] h-[900px] flex flex-col items-center justify-center md:flex-row md:gap-5 w-full p-5" id="idiomas">
  <Idiomas/>
  <div class="flex items-center justify-center md:items-start flex-col text-center gap-6 md:text-left p-3 md:p-5 md:w-1/2">
    <h2 class="text-[--text-100] text-5xl font-medium lg:text-[4rem] md:text-[3rem]">
      ¿Quiénes somos?
    </h2>
    <div class="flex flex-col gap-5 text-pretty">
      <p class="text-[--text-200] text-2xl md:text-[1.5rem] lg:text-[2rem]">
        <span class="font-medium text-[--text-100]">Nombre del centro:</span> Escuela de idiomas "Miguel de Cervantes Saavedra".
      </p>
      <p class="text-[--text-200] text-2xl md:text-[1.5rem] lg:text-[2rem]">
        <span class="font-medium text-[--text-100]">Horario:</span> 3:00pm-8:00pm.
      </p>
      <p class="text-[--text-200] text-2xl md:text-[1.5rem] lg:text-[2rem]">
        <span class="font-medium text-[--text-100]">Teléfono:</span> +53-54220389.
      </p>
      <p class="text-[--text-200] text-2xl md:text-[1.5rem] lg:text-[2rem]">
        <span class="font-medium text-[--text-100]">Idiomas:</span> inglés, alemán, italiano, ruso, francés.
      </p>
      <p class="text-[--text-200] text-2xl md:text-[1.5rem] lg:text-[2rem]">
        <span class="font-medium text-[--text-100]">Dirección:</span> ESBU Capitán Roberto Rodríguez-Buen Viaje e/ Maceo y Unión, Santa Clara.
      </p>
      
    </div>
  </div>
</section>