<div
  class="flex items-center justify-center md:items-start flex-col text-center gap-4 md:text-left p-3 md:p-5 md:w-1/2 md:order-1"
>
  <h2 class="text-[--text-100] text-5xl font-medium md:text-[4rem]">
    Cuándo son las próximas inscripciones?
  </h2>
  <p class="text-[--text-200] text-2xl md:text-[1.5rem] lg:text-[2rem]">
    Si deseas matricular, debes presentarte con los documentos requeridos a
    nuestro proceso de inscripción los cuales son realizados cada 6 meses
    apróximadamente.
  </p>
  <span
    class="font-medium text-[--text-100] text-lg sm:text-3xl lg:text-4xl md:text-[2.2rem]"
  >
    Las próximas inscripciones serán el de Agosto
  </span>
  <a
    class="btn bg-[--accent-200] text-white hover:bg-[--accent-100] hover:text-[--text-100] mt-3"
    href="https://drive.google.com/file/d/10asbdi6KsXlvhN5shjpzU_AfEwPuA31F/view?usp=drive_link"
    target="_blank"
  >
    Deseo Inscribirme!!
  </a>
</div>
