---
import Documentos from "../assets/Documentos.astro";
---

<section class="lg:h-[700px] h-[900px] flex flex-col items-center justify-center md:flex-row md:gap-5 w-full p-5" id="documentacion">
  <Documentos/>
  <div class="flex items-center justify-center md:items-start flex-col text-center gap-6 md:text-left p-3 md:p-5 md:w-1/2">
    <h2 class="text-[--text-100] text-5xl font-medium md:text-[4rem]">
      Qué necesitas para inscribirte?
    </h2>
    <ul class="text-[--text-200] text-2xl md:text-[2rem] list-disc md:ml-8 p-2">
      <li class="md:mb-3 mb-1">
        Tener como mínimo 17 años de edad.
      </li >
      <li class="md:mb-3 mb-1">
        Matricular en un solo idioma.
      </li>
      <li class="md:mb-3 mb-1">Ser trabajador activo estatal o cuenta propia.</li>
      <li class="md:mb-3 mb-1">Tener aprobado como mínimo el 9. grado.</li>
      <li class="md:mb-3 mb-1">Si eres ama de casa, jubilado o estudiante también puedes unirte.</li>
    </ul>
  </div>
</section>