---
import ExamenImg from "../assets/ExamenImg.astro"
---
<section class="h-[700px] flex flex-col items-center justify-center md:flex-row md:gap-5 w-full">
  <ExamenImg/>
  <div>
    <h2 class="text-4xl">Y si ya se algo del idioma?</h2>
  </div>
</section>