---
import ExamenImg from "../assets/ExamenImg.astro"
import Cronometro from "./Cronometro.astro"
import Nivel from "./Nivel.astro"
import Inscripcin from "./Inscripción.astro"
---
<section class="lg:h-[700px] h-[900px]  flex flex-col items-center justify-center md:flex-row md:gap-5 w-full p-5 bg-[--bg-100]" id="convocatoria">
  <ExamenImg/>
  <Inscripcin/>
</section>